<html style="background-color:#b8b894;">
<center>

<h1 style="color:DodgerBlue; background-color:#00ff80;">New Bucket</h1>
  <h2 style="color:DodgerBlue; background-color:#00ff80;">Enter the details to create Buckets...</h2>
 
<%= render 'form' %>
 
<%= link_to 'Back', buckets_path %>

</center>
</html>